table {
    width: 100%;
}

.mat-icon {
    cursor: pointer;
    vertical-align: bottom;
    margin-right: 10px;
}

td {
    // Keeps column widths equal. Change this if more columns are added.
    width: 25%;
}
