<h1>Frequently Asked Questions</h1>

<h2>What is this website?</h2>

<p>This website tries to calculate the "intrinsic value" of a given cryptocurrency project.
It does this by looking at the source code, and seeing how the quality of the source code compares
against other projects. This does NOT include price data, this is purely how to guage the quality of a crypto project.</p>

<h2>How is the ranking calculated?</h2>

<p>The ranking is calculated by taking the number of watcher, open issues, number of commits, number of contributors, stars, forks, and recency of last commit.  It takes all of these values and assigns a score.  The maximum score is 5.0, and it will stack rank each of the coins against each other to get a total score.</p>

<h2>Why was this website created?</h2>

<p>While there are many websites that show the price of a cryptocurrency, there are few (if any) websites that answer the question "Is this a good project, and how does it compare to the quality of other projects?"  This site answers that question.</p>

<h2>Why isn't X coin here?</h2>

<p>We don't have all coins listed and ranked.  So far this website will only rank projects who use a singular github repository for their project.  In the future we plan on adding more coins to the ranking.</p>


<h2>Is the code for this open source?</h2>

<p>Yes, you can find the source code for this website here: <a href="https://github.com/kuczmama/crypto-ranker">https://github.com/kuczmama/crypto-ranker</a></p>
